/* Home Page */
body {
  background-image: linear-gradient(to right,#182633,#000);
}
h1{
  color: #F2A929;
  margin: 0px;

  }

  .box-item{
    width: 100%;
    padding: 20px;
    margin-bottom: 2rem;
    background: #191c1e;
  }

  .box-item1{
    width: 20%;
    padding: 15px;
    margin: 0.1rem;
    background: #191c1e;
  }

  p {
    font-size:1.4rem;
    color: #fff;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
  }

/* Navbar section */
.navbar {
  padding: 2rem 2rem 2rem;
  padding-right: 2rem;
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand:hover {
  color:#F2A929;
}

.navbar-brand {
  color:#fff;
  font-family: 'Quicksand', sans-serif;
  font-size:32px;
}

.home-nav-collapse {
  color: white;
}

.nav-item{
    margin: 1rem;
    font-size: 16px;
    
}
.nav-link{
  color: #fff;
}

.nav-link:hover {
  color:#F2A929;
}
.active{
  color: #F2A929;
}

/* Title section */
.title-text {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 2rem;
  margin-left: 2rem;
  padding-top: 5rem;
}

.title-section {
  padding-bottom: 7rem;
  padding-top: 2rem;
}

.title{
  font-size: 2rem;
}

.btn {
  margin-top: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 2.2rem;
  padding-left: 2.2rem;
  margin-left: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.btn-light{
  background: #F2A929;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #263E53;
}

.btn-outline-light{
  background-color: #000;
  border: #fff;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #fff;
}

.but-text1 {
  text-decoration: none;
  color: #fff; 
}

.but-text1:hover {
  background: #000;
  color: #fff;
}

.but-text2 {
  text-decoration: none;
  color: #fff;
}

.but-text2:hover {
  color: black;
}

.buttons {
  padding-top: 1rem;
  padding-left: 1rem;
}

.watch-img{
  size: 3rem;
}
.section {
  padding: 80px 0 65px;
}
#app-features{
  background-image:linear-gradient(to right,#182633,#000) ;
}



.section-header {
  color: #000;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.section-header .section-title {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #F2A929;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  background-clip: text;
  position: relative;
}
#app-features .show-box img {
  width: 100%;
}

.imgg{
  margin-right: 1rem;
}

.marg{
  margin-bottom: 7rem;
}

.txt1
{
  /* margin-right: 90px; */
  text-align: left;
  margin-left: 1rem;
  font-size: 1.9rem;
}
.pleft
{
  text-align: left;
}
.pleftlink
{
  color: #F2A929;
  text-align: left;
}

.pleftlink:hover
{
  color: #ffc96c;
  text-align: left;
}




.software
{
  background: #ffffff;
}

.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  /* box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12); */
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: '';
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #106eea;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  color: #fff;
}


/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}


.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-common {
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-effect {
  overflow: hidden;
}

.btn-effect:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-effect:hover:after {
  width: 100%;
}

.btn-border {
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  
}

.btn-border:hover {
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-border-filled {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #fff;
  
}

.btn-border-filled:hover {
  
  background-color: #ffffff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
}

.btn-rm i {
  vertical-align: middle;
}

.btn-trial {
  background: #fff;
  color: #191c1e;
  padding: 5px 20px;
  margin-left: 30px;
}


.btn-apple {
  border-width: 2px;
border-style: solid;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn-apple i {
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-apple:hover,
.btn-apple:active,
.btn-apple:focus {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

button:focus {
  outline: none !important;
}


.btn-subtitle {
  color: #191c1e;
  font-family: 'Poppins', sans-serif;
  background:#F2A929 ;
  text-align: center;
  border-radius: 30px;
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
}

.clear {
  clear: both;
}

.mt {
  margin-top: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0;
}

.row1{
  align-items: stretch;
  margin-left: 4.5rem;
}
