{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Canvas Demo</title>
        <!-- <script src="canvas.js"></script> -->
    </head>
    <body>
        <script src="{% static 'js/canvas.js' %}"></script>
        <canvas id="myCanvas" width="400" height="400" style="border:1px solid black;">
            Your browser does not support the HTML canvas tag.</canvas><br>
        <a href="trial">trial</a>
        <script src="{% static 'js/draw.js' %}"></script>
    </body>
</html>