/* Navbar section */
body {
  background-image: linear-gradient(to right,#182633,#000);
}

p {
  color: #fff;
  margin-bottom: 0px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.container {
  width: 80%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-auto-columns: 500px;
  grid-gap: 10px;
}

#together {
  position: absolute;
  display: inline-block;
	margin-left:16px;
}

.map-name {
  margin-top: 2rem;
}

.navbar {
  padding: 2rem 2rem 2rem;
  padding-right: 2rem;
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand:hover {
  color:#F2A929;
}

.navbar-brand {
  color:#fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
}

.home-nav-collapse {
  color: white;
}

.fas {
  margin: 0 auto 0 auto;
  font-size: 3rem;
  color: white;
}

.nav-item {
  margin: 1rem;
}

.nav-link {
  color: #fff;
  font-size: 16px;
}
  
.nav-link:hover {
  color:#F2A929;
}

.active {
  color:#F2A929;
}

.active:hover {  
  color: #fff;
}

.register-left {
  border-radius: 0.5rem;
  border: none;
  width: 7rem;
  background: #F2A929;
  font-weight: 400;
  color: #555;
  margin-top: 15px;
  padding: 6px;
  font-family: 'Montserrat', sans-serif;
}

.tracking-left {
    border-radius: 0.5rem;
    border: none;
    width: 15rem;
    background: #F2A929;
    font-weight: 400;
    color: #555;
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
}

.register-left:hover {
  background: #000;
  color: #fff;
}

.edit-btn {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  margin-bottom: 0rem;
  color: #fff;
  
}

.tracking-btn {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  margin-bottom: 0rem;
  color: #fff;
}

.delete-btn {
  text-align: center;
  display: inline-block;
  margin: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #fff;
}

.tracking-btn {
  margin-top: 0rem;
  color: #fff;
  
}

.but-text2 {
  color: #fff;
}

#passcoords {
  border-radius: 0.5rem;
  border: none;
  width: 17rem;
  background: #F2A929;
  font-weight: 400;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 3rem;
  margin-right: 2rem;
  padding: 6px;
  font-family: 'Montserrat', sans-serif;
}

#passcoords:hover {
  background: #000;
  color: #fff;
}

#clearthecanva {
  border-radius: 0.5rem;
  border: none;
  width: 7rem;
  background: #F2A929;
  font-weight: 400;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0.5rem;
  padding: 6px;
  font-family: 'Montserrat', sans-serif;
}

#ap {
  border-radius: 0.5rem;
  border: none;
  width: 7rem;
  background: #F2A929;
  font-weight: 400;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0.5rem;
  padding: 6px;
  font-family: 'Montserrat', sans-serif;
}

#clearthecanva:hover {
  background: #000;
    color: #fff;
}

@media(max-width: 1028px) {
  #myCanvas {
    margin-top: 2rem;
    width: fit-content;
    height: fit-content;
  }
}

.edit-heading {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

#clearthecanva1{
  border-radius: 0.5rem;
  border: none;
  width: 17rem;
  background: #49330c;
  font-weight: 400;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0.5rem;
  padding: 6px;
  border: #F2A929 solid 0.1rem;
  font-family: 'Montserrat', sans-serif;
}

#clearthecanva2{
  border-radius: 0.5rem;
  border: none;
  width: 17rem;
  background: #49330c;
  font-weight: 400;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0.5rem;
  padding: 6px;
  border: #F2A929 solid 0.1rem;
  font-family: 'Montserrat', sans-serif;
}