<!-- home page for geofence -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Geofence</title>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap"
    rel="stylesheet">

  <!-- Bootstrap -->
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>

<body class="login-page">
  <!-- Navbar section -->
  <div class="nav-head">
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="/">Lakshman Rekha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas home-fa-bars fa-bars"></i></span>
      </button>
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/functionality/">How it works</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link active" href="/geofence/">Create</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/geofence/display_maps/">Show all maps</a>
          </li>
          {% endif %}
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li> -->
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-6 login-left order-2 order-md-1">
      <h1>Enter the details</h1>
      <div class="login-form">

        <form method="post" enctype="multipart/form-data">
          <p>{{ form.as_p }} </p>
          <button type="submit" class="btn  btn-light">Upload</button>
        </form>
      </div>

    </div>
    <div class="col-md-6 login-right order-1 order-md-2">
      <div>
        <img src="{% static 'images/map.svg' %}">
      </div>
      <h3>Welcome Back to Lakshman Rekha!</h3>
      <a href="/"><button type="button" class="btn btn-primary">LEARN MORE</button></a>
    </div>
  </div>

</body>

</html>